* {
  box-sizing: border-box;
  margin: 15px auto;
}

.super {
  vertical-align: super;
  font-size: 75%;
}

.smaller {
  font-size: 75%;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 7px;
}

table {
  box-shadow: 30px 30px 5px 0 rgba(0,0,0,0.35);
  -webkit-box-shadow: 30px 30px 5px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 30px 30px 5px 0 rgba(0,0,0,0.35);
}

.bold-centered {
  font-weight: 600;
  text-align: center;
}

.description {
  font-size: 1.25em;
  margin-bottom: 5px;
}

