* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: 300% 300%;
  background-image: linear-gradient(
                  -45deg,
                  rgba(59, 173, 227, 1) 0%,
                  rgba(87, 111, 230, 1) 25%,
                  rgba(152, 68, 183, 1) 51%,
                  rgba(255, 53, 127, 1) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 330px;
  position: relative;

  h1 {
    font-weight: 500;
    color: antiquewhite;
    margin: 0 auto;
    padding-bottom: 2px;
    text-transform: uppercase;
    text-shadow: 9px 6px 13px rgba(0, 0, 0, 0.28);
  }

  .mode {
    display: flex;
    align-self: end;
    color: antiquewhite;
    align-content: center;
    align-items: center;
    margin-top: 10px;
    text-shadow: 9px 6px 13px rgba(0, 0, 0, 0.28);

    select {
      color: antiquewhite;
      font-size: 16px;
      text-transform: uppercase;
      margin-left: 4px;
      background: none;
      appearance: none;
      border: none;
      text-shadow: 9px 6px 13px rgba(0, 0, 0, 0.28);

      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  .mode-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
    margin-top: 10px;

    label {

      input {
        padding-left: 5px;
        width: 250px;
        border: none;
        height: 40px;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 18px;
        color: #626262;
        -webkit-box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.46);
        box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.46);

        &::placeholder {
          font-size: 15px;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .buttons {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  p {
    margin-top: 15px;
    font-size: 20px;
    width: 100%;
    border-right: 2px solid antiquewhite;
    height: 20px;
    text-shadow: 9px 6px 13px rgba(0, 0, 0, 0.28);
    text-transform: uppercase;
  }

  .reload {
    display: block;
    position: absolute;
    bottom: -10px;
    right: 7px;
    color: antiquewhite;
    text-shadow: 9px 6px 13px rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    font-size: 30px;
    transition: .3s ease;

    &:active {
      transform: rotate(360deg);
    }
  }
}

button {
  border: none;
  background: cadetblue;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: antiquewhite;
  transition: .4s ease;
  text-shadow: 9px 6px 13px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.46);
  box-shadow: 5px 5px 11px -1px rgba(0, 0, 0, 0.46);

  &:hover {
    transform: scale(105%);
  }

  &:active {
    transform: scale(95%);
  }
}

.hidden {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}



