* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-areas: "sizing position" "units opacity";
  width: 95%;
  height: 95%;
  gap: 15px;
}
.wrapper section {
  width: 700px;
  height: 350px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
.wrapper .sizing {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: sizing;
  background-color: #4679BD;
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
  padding-top: 50px;
}
.wrapper .sizing__box {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 60%;
  height: 155px;
  border: 10px solid #E9CA90;
  font-size: 25px;
}
.wrapper .sizing__box .sizing__content {
  width: 100%;
  box-sizing: content-box;
  border: 5px solid blue;
}
.wrapper .sizing__box .sizing__border {
  width: 100%;
  box-sizing: border-box;
  border: 5px solid blue;
}
.wrapper .position {
  grid-area: position;
  background-color: #E9EC1A;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 10px 40px;
}
.wrapper .position div {
  width: 250px;
  height: 100px;
  border: 2px solid black;
  color: black;
}
.wrapper .position div:nth-child(1) {
  background-image: url("./css-explanator-example.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: left;
}
.wrapper .position div:nth-child(2) {
  background-image: url("./css-explanator-example.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: right;
}
.wrapper .position div:nth-child(3) {
  background-image: url("./css-explanator-example.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.wrapper .position div:nth-child(4) {
  background-image: url("./css-explanator-example.png");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .units {
  display: flex;
  flex-direction: column;
  grid-area: units;
  background-color: #23DF81;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  padding-top: 50px;
}
.wrapper .units__wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 75%;
  border-left: 15px solid darkblue;
}
.wrapper .units__wrapper p {
  border: 3px solid darkolivegreen;
  margin-top: 3px;
  width: 300px;
}
.wrapper .units__wrapper p input {
  text-align: end;
  font-size: 30px;
  max-width: 32px;
  color: whitesmoke;
  background: none;
  border: 0;
  transition: 0.5s;
}
.wrapper .units__wrapper p input:hover {
  color: red;
  text-decoration: underline;
}
.wrapper .units__wrapper p:nth-child(1) {
  margin-left: 10px;
}
.wrapper .units__wrapper p:nth-child(2) {
  margin-left: 10mm;
}
.wrapper .units__wrapper p:nth-child(3) {
  margin-left: 10pc;
}
.wrapper .units__wrapper p:nth-child(4) {
  margin-left: 1in;
}
.wrapper .opacity {
  grid-area: opacity;
  background-color: #F17C2E;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px 40px;
}
.wrapper .opacity input {
  width: 95%;
}
.wrapper .opacity .opacity__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper .opacity .opacity__wrapper div {
  font-size: 80px;
  width: 150px;
  position: relative;
}
.wrapper .opacity .opacity__wrapper div:nth-child(1) {
  opacity: 0.15;
}
.wrapper .opacity .opacity__wrapper div:nth-child(1):after {
  color: blue;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  width: 65px;
  font-size: 25px;
  bottom: 15px;
  left: 35px;
  position: absolute;
  content: "0.15";
}
.wrapper .opacity .opacity__wrapper div:nth-child(2) {
  opacity: 0.2;
}
.wrapper .opacity .opacity__wrapper div:nth-child(2):after {
  color: blue;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  width: 65px;
  font-size: 25px;
  bottom: 15px;
  left: 35px;
  position: absolute;
  content: "0.20";
}
.wrapper .opacity .opacity__wrapper div:nth-child(3) {
  opacity: 0.3;
}
.wrapper .opacity .opacity__wrapper div:nth-child(3):after {
  color: blue;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  width: 65px;
  font-size: 25px;
  bottom: 15px;
  left: 35px;
  position: absolute;
  content: "0.30";
}
.wrapper .opacity .opacity__wrapper div:nth-child(4) {
  opacity: 0.45;
}
.wrapper .opacity .opacity__wrapper div:nth-child(4):after {
  color: blue;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  width: 65px;
  font-size: 25px;
  bottom: 15px;
  left: 35px;
  position: absolute;
  content: "0.45";
}
.wrapper .opacity .opacity__wrapper div:nth-child(5) {
  opacity: 0.55;
}
.wrapper .opacity .opacity__wrapper div:nth-child(5):after {
  color: blue;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  width: 65px;
  font-size: 25px;
  bottom: 15px;
  left: 35px;
  position: absolute;
  content: "0.55";
}
.wrapper .opacity .opacity__wrapper div:nth-child(6) {
  opacity: 0.7;
}
.wrapper .opacity .opacity__wrapper div:nth-child(6):after {
  color: blue;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  width: 65px;
  font-size: 25px;
  bottom: 15px;
  left: 35px;
  position: absolute;
  content: "0.70";
}
.wrapper .opacity .opacity__wrapper div:nth-child(7) {
  opacity: 0.8;
}
.wrapper .opacity .opacity__wrapper div:nth-child(7):after {
  color: blue;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  width: 65px;
  font-size: 25px;
  bottom: 15px;
  left: 35px;
  position: absolute;
  content: "0.80";
}
.wrapper .opacity .opacity__wrapper div:nth-child(8) {
  opacity: 0.95;
}
.wrapper .opacity .opacity__wrapper div:nth-child(8):after {
  color: blue;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 50px;
  width: 65px;
  font-size: 25px;
  bottom: 15px;
  left: 35px;
  position: absolute;
  content: "0.95";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
