* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 600px;

  tr {
    height: 30px;
  }

  tr:nth-child(1) {
    opacity: .2;
  }
  tr:nth-child(2) {
    opacity: .4;
  }
  tr:nth-child(3) {
    opacity: .6;
  }
  tr:nth-child(4) {
    opacity: .8;
  }

  td:nth-child(1) {
    background-color: red;
  }td:nth-child(2) {
    background-color: purple;
  }td:nth-child(3) {
    background-color: darkslategrey;
  }td:nth-child(4) {
    background-color: green;
  }
}



