:root {
  --back-color: #ff7b00;
  --padding: 5px;
  --blur: 10px;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

img {
  padding: var(--padding);
  background-color: var(--back-color);
  filter: blur(var(--blur));
}

.same-color {
  color: var(--back-color);
}