@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
}

h1 {
  text-transform: uppercase;
}

ul, ol {
  margin-top: 10px;
  padding: 20px 20px 20px 45px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  list-style: square;
}