* {
  box-sizing: border-box;
  margin: 0;
  font-family: Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: -webkit-linear-gradient(to top, #ffffff, #abbaab);
  background: linear-gradient(to top, #ffffff, #abbaab);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 1cm;
  margin-top: 15px;
  border-bottom: 1px solid black;
  width: 700px;
  text-align: center;
}

h2 {
  text-decoration: underline;
  margin-top: 20px;
  color: #383838;
}

p {
  margin-top: 5px;
}