* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Monaco', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}


.nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: darkslategrey;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    list-style: none;

    li {
      border: 1px solid transparent;
      transition: .3s ease-in-out;
      padding: 5px;
      border-radius: 1px;
    }

    li:hover {
      transform: scale(105%);
      border: 1px solid white;
    }

    li:active {
      background-color: maroon;
      transform: scale(95%);
      transition: .3s;
    }

    li:not(:first-child) {
      margin-left: 15px;
    }
  }
}

.button {
  margin: auto auto;
  width: 500px;
  height: 200px;
  border: 5px solid transparent;
  background-color: pink;
  font-size: 50px;
  font-weight: 600;
  transition: 5s;

  &:hover {
    animation: breathing infinite 1s;
    border: 5px solid blue;
  }

  &:active {
    transform: rotate(2160deg);
  }
}


@keyframes breathing {
  15% {
    color: maroon;
  }
  25% {
    color: white;
  }
  45% {
    color: maroon;
  }
  65% {
    color: white;
  }
  85% {
    color: maroon;
  }
  100% {
    color: white;
  }
}


