* {
  box-sizing: border-box;
  margin: 10px;
}

body {
  font-size: 24px;
  background-color: #ff0000;
  background-color: #00ff00;
  background-color: #0000ff;
  background-color: #ff00ff;
  background-color: #00ffff;
  background-color: #ffff00;
  background-color: #ffffff;
  background-color: #5c5c5c !important;
  background-color: #e1e1e1;
  background-color: #000000;
  color: #ffff00;
  color: rgb(255, 255, 1, .5);

  /* rgb() is a function. function - is a little program, which was written before and was given a name.

  To run this program, we should write the fucntion's name and brackets after it.

  We should supply parameters for rgb() function - red, green and blue values in decimal system. Max. value - 255, minimal - 0. */
}

/* Use service for "font pairing" */

.amatic {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-style: italic;
}

.regular-font {
  font-family: 'Roboto', sans-serif;
  color: rgb(251, 100, 180);
}

.green {
  background-color: rgb(0, 128, 0);
}

.greenish {
  background-color: rgba(0, 128, 0, .4);
}

.greenish2 {
  background-color: rgba(0, 128, 0, .8);
}

.blue-back {
  background-color: rgb(0, 100, 180);
}

/* Another option to set color is to use hsl() function - hue, saturation, light */

#very-unique-span {
  text-decoration: line-through;
}

div {
  height: 100px;
  background-color: darkred !important;
}

.wide {
  width: calc(100% / 2);
  /*border-radius: 50%;*/
  padding: 50px;
  margin: 100px;
  border-right: 5px dotted blueviolet;
}