* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    /* best practice: when using background pictures,
       use color too for the case when the pictures are not found */
    background: #194874 url(../img/bg/bg.jpg) center top repeat;
}

body {
    height: 100%;
    background: transparent url(../img/bg/bg_glow.jpg) center top no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body > h1 {
    font-size: 4rem;
    padding: 2rem;
    font-weight: 100;
}

pre {
    white-space: pre-line;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-container > div {
    width: 45%;
    margin-bottom: 1rem;
    display: inline-block;
    color: #444;
}

#example01 {
    background-image: url("../img/bg/tree-with-owl.gif"), url(../img/bg/flower.gif), url(../img/bg/paper.gif);
    background-position: left top, right bottom, left top;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 70px, 130px, auto;
    padding: 15px;
}

#mission01 {
    background-image: url(../img/bg/flower.gif), url(../img/bg/paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}

#mission01 img, #mission02 img {
    width: 80%;
    border: 3px solid cornflowerblue;
}

#example02 {
    background: url("../img/bg/tree-with-owl.gif") left top/70px no-repeat, url(../img/bg/flower.gif) right bottom/130px no-repeat, url(../img/bg/paper.gif) left top/auto repeat;
    padding: 15px;
}

#mission02 {
    background-image: url(../img/bg/flower.gif), url(../img/bg/paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}
