body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../img/bg/bg-colorful-diagonal-floral-tiles.jpg");
}

article {
    
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
    flex-grow: 0;
    width: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

article > div {
    height: 184px;
    width: 138px;
}

.back-above-back {
    background-image: url(../img/bg/green-grass-smaller.png),
                      url(../img/bg/chandelier.jpeg);

    background-size: contain;
}

.back-cover {
    background-image: url(../img/bg/tiger.jpg);
    background-size: cover;
}
.back-contain {
    background-image: url(../img/bg/tiger.jpg);
    background-size: contain;
}
.norepeat {
    background-repeat: no-repeat;
}

.repeat-x {
    background-repeat: repeat-x;
}
.repeat-y {
    background-repeat: repeat-y;
}

.back-size69 {
    background-image: url(../img/bg/chandelier.jpeg);
    background-size: 69px;
}
.back-size34 {
    background-image: url(../img/bg/chandelier.jpeg);
    background-size: 34px;
}

.back-size-stretch {
    background-image: url(../img/bg/tiger.jpg);
    background-size: 138px 184px;
}

.position-pixels {
    background-position: bottom 10px right 20px;
}
.position-percents-25-75 {
    background-position: 25% 75%;
}
.position-percents-25-25 {
    background-position: 25% 25%;
}
.position-percents-45-25 {
    background-position: 45% 25%;
}

.size-85-percents {
    background-image: url(../img/bg/tiger.jpg);
    background-size: 85%;
}

.two-back {
    background: url(../img/bg/bg_glow.jpg) , url(../img/bg/bg.jpg) #194874 ;
    background-position: center top, center top;
    background-repeat: no-repeat, repeat;
}

